<button id="sidebar-settings">settings-modal</button>
<div id="settings modal" class="modal"></div>
<div class="modal-content">
    <span class="close"&times;></span>
    <p>settings</p>
</div>
<script>    
    var modal= document.getElementById("settingModal");
    var btn = document.getElementById("sidebar-setting");
    var span = document.getElementsByClassName("close") [0]
    btn.onclick= function(){
        modal.style.display ="block";
    };
    span.onclick=function(){
        modal.style.display ="none"
    };
    window.onclick = function(event){
        if (event.target ==modal){
            modal.style.display="none"
        }
    }
</script>

