
.cover {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.70);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    text-align: center;
}

.modal-container {
    position: relative;
    background: #fff;
    z-index: 1000;
    font-family: 'Times New Roman', Times, serif;
    background: #fff;
    height: 200px;
    width: 300px;
    left: -200%;
    bottom: -15rem;
    border-radius: 25px;

   
}

.modal-measurements {
    color: black;
}

.modal-Location {
    color: black;

}

.input {
    border: none;
    background-color: lightgrey;
    border-radius: 12px;
    color: black;
    padding-left: 1rem;
    margin-left: 1.5rem;

    .placeholder {
        color: black;
    }
}

.modal-title{
    color: black;
    font-weight: bold;
}

.modal-body {
    color: black;
    border-radius: 6px, 6px, 6px, 6px;

 
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    button {
        padding: 10px 24px;
        border: 0;
        background-color: #add8e6;
        border-radius: 10px;

        &:hover(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            cursor: pointer;
            background-color: #86c5da;
        }
    }

    .save {
        background-color: #02ba8e;
        color: #FFF;
        margin-right: 1rem;
        padding: none;
    }

    .cancel {
        background-color: #DF0000;
        color: #FFF;
        margin-right: 1rem;
        padding: none;
    }
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 200px;
        height: 100px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
      }
      
      label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 90px;
        height: 90px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
      }
      
      input:checked + label {
        background: #bada55;
      }
      
      input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }
      
      label:active:after {
        width: 130px;
      }
      
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
}