<button id="settings">settings-modal</button>
<div id="settings modal" class="modal"></div>
<div class="modal-content">
    <span class="close"&times;></span>
    <p>settings</p>
</div>
<script>    
    function openModal(){
        document.getElementById(settingsModal).style.display="block";
        document.body.classList.add('settings-modal-open');
    };
    
    function closeModal(){
        document.getElementById(settingsModal).style.display="none";
        document.body.classList.remove('settings-modal-open')
    };
</script>

<div class="modal"></div>
<div class="modal-content"></div>
