.cover {
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  text-align: center;
}

.modal-container {
  position: absolute;
  top: 50px;
  left: calc(50% - 200px);
  padding: 15px;
  background: #fff;
  z-index: 1000;
  font-family: "Times New Roman", Times, serif;
  background: #fff;
  height: 150px;
  width: 250px;
  border-radius: 25px;
}

.modal-measurements {
  color: black;
}

.modal-Location {
  color: black;
}

.input {
  border: none;
  background-color: lightgrey;
  border-radius: 12px;
  color: black;
  padding-left: 1rem;
  margin-left: 1.5rem;

  .placeholder {
    color: black;
  }
}

.modal-title {
  color: black;
  font-weight: bold;
  text-align: center;
}

.modal-body {
  color: black;
  border-radius: 6px, 6px, 6px, 6px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  button {
    padding: 10px 24px;
    border: 0;
    background-color: #add8e6;
    border-radius: 10px;
    margin: 20px;

    &:hover(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      cursor: pointer;
      background-color: #86c5da;
    }
  }

  .save {
    background-color: #02ba8e;
    color: #fff;
    margin-right: 1rem;
    padding: none;
  }

  .cancel {
    background-color: #df0000;
    color: #fff;
    margin-right: 1rem;
    padding: none;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.unit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.unit-label {
  margin: 0 8px;
}
.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
