<div class="page-wrapper">
    <div class="app-container flex-container">
        <div class="text-data">
            <div class="app-title">Heavy rain</div>
            <div class="title-temp">82°</div>
            <fa-icon [icon]="faCloudShowersHeavy" class="title-icon" ></fa-icon>
            <div class="title-city">Plant City, FL</div>
        </div>
    </div>
    <div class="sidebar-container flex-container">  
        <div class="text-data">
            <fa-icon [icon]="faGear" class="sidebar-setting"></fa-icon>
             <button (click)="createModal()">modal</button>
             <div #modal></div>
             <app-settings-modal *ngIf="createModal"></app-settings-modal>
            <div class="sidebar-title">Tomorrow</div>
            <div class="sidebar-temp">91°</div>
            <fa-icon [icon]="faSun" class="sidebar-icon"></fa-icon>
            <div class="sidebar-wea">sunny</div>
        </div>        
    </div>
</div>
